{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<br>
<br>
<div class="container-fluid col-md-10">
    <form class="text-center" action="{% url 'BookAppointment' %}">
        <button class="text-center btn btn-info" type="submit" > Book New Class </button>
    </form>
</div>
<br>
<br>
<div class="container-fluid col-md-10">
    <H3 class="text-center">{{ content }}</H3>
    <br>

    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">Sn.no</th>
                <th scope="col">Booking Date</th>
                <th scope="col">Booking Start time</th>
                <th scope="col">Booking End time</th>
                <th scope="col">Staff</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <!-- Add more table headers for each column -->
            </tr>
        </thead>
        <tbody>
            {% for item in queryset %}
                <tr>
                    <td>Test1</td>
                    <td>Test2</td>
                    <td>Test3</td>
                    <td>Test4</td>
                    <td>Test5</td>
                    <td>Test6</td>
                    <td>Test7</td>
                    <!-- <td>{{ item.field1 }}</td>
                    <td>{{ item.field2 }}</td> -->
                    <!-- Add more table cells for each column -->
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}