{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

<br>
<br>
<div class="container-fluid col-md-10">
    <form class="text-center" action="{% url 'BookAppointment' %}">
        <button class="text-center btn btn-info" type="submit" > Book New Class </button>
    </form>
</div>
<br>
<br>
<div class="container-fluid col-sm-8">
    <H3 class="text-center">My Classes</H3>
    <br>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead>
            
            <tr>
                <th scope="col">Sn.no</th>
                <th scope="col">Booking Date</th>
                <th scope="col">Booking Start time</th>
                <th scope="col">Booking End time</th>
                <th scope="col">Staff</th>
                <th scope="col">Price</th>
                <th scope="col">Payment Status</th>
                <!-- Add more table headers for each column -->
            </tr>
            
        </thead>
        <tbody>
            {% for i in content %}
            <tr>
                <th scope="row">{{i.booking_id}}</th>
                <td>{{i.start_time}}</td>
                <td>{{i.start_time}}</td>
                <td>{{i.end_time}}</td>
                <td>{{i.staff}}</td>
                <td>$0</td>
                <td>{{i.payment_status}}</td>
              </tr>
              {% endfor %}
        </tbody>
    </table>
</div>
</div>


{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}